fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.8.2
pydantic-settings==2.4.0
python-jose==3.3.0
passlib[bcrypt]==1.7.4
httpx==0.27.0
pytest
python-decouple==3.8
SQLAlchemy==2.0.41
aioodbc==0.5.0
pyodbc==5.2.0
pandas==2.3.2
openpyxl==3.1.5
black
isort==5.13.2
pylint==3.0.3
mypy==1.8.0
bandit==1.7.5
flake8==7.0.0
pydocstyle==6.3.0
vulture==2.10
interrogate==1.5.0
safety
pre-commit==3.6.0
coverage==7.4.0