@import 'tailwindcss';
@plugin "daisyui" {
  themes: juanita --default;
}

@plugin "daisyui/theme" {
  name: 'juanita';
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(0.9819 0.0164 91.55);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(20% 0.05 80);
  --color-primary: oklch(0.862 0.1688 90.98);
  --color-primary-content: oklch(20% 0.05 80);
  --color-secondary: oklch(0.9218 0.0667 83.12);
  --color-secondary-content: oklch(20% 0.05 80);
  --color-accent: oklch(0.4906 0.103953 74.0605);
  --color-accent-content: oklch(98% 0.01 240);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(0.68 0.1718 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

select,
input,
textarea {
  @apply focus-within:border-primary focus-within:shadow-md focus-within:outline-0;
}

button {
  @apply select-none;
}

.btn {
  @apply transition-transform;
}

.btn:active {
  @apply scale-95;
}

.btn-primary {
  @apply bg-primary from-primary bg-gradient-to-br to-[#DDAC00] shadow-md shadow-black/30;
}

.btn-nav-active {
  @apply bg-secondary shadow-md shadow-black/30;
}

body {
  @apply text-black;
}

#landing-main-content {
  background-image: url('../assets/main-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
