x-backend-build: &backend-build
  context: ..
  target: base

services:
  analytics:
    build:
      <<: *backend-build
      dockerfile: deploy/analytics.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=AnalyticsService
    restart: unless-stopped
    ports:
      - "8001:8000"
    networks:
      - backend

  credit_management:
    build:
      <<: *backend-build
      dockerfile: deploy/credit_management.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=CreditManagementService
    restart: unless-stopped
    ports:
      - "8002:8000"
    networks:
      - backend

  portfolio_management:
    build:
      <<: *backend-build
      dockerfile: deploy/portfolio_management.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=PortfolioManagementService
    restart: unless-stopped
    ports:
      - "8003:8000"
    networks:
      - backend

  notifications:
    build:
      <<: *backend-build
      dockerfile: deploy/notifications.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=NotificationsService
    restart: unless-stopped
    ports:
      - "8004:8000"
    networks:
      - backend

  stats:
    build:
      <<: *backend-build
      dockerfile: deploy/stats.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=StatsService
    restart: unless-stopped
    ports:
      - "8005:8000"
    networks:
      - backend

  payments:
    build:
      <<: *backend-build
      dockerfile: deploy/payments.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=PaymentsService
    restart: unless-stopped
    ports:
      - "8006:8000"
    networks:
      - backend

  analitycs_kpi:
    build:
      <<: *backend-build
      dockerfile: deploy/analitys_KPI.Dockerfile
    env_file:
      - ./.env
    environment:
      - APP_NAME=AnalyticsKPIService
    restart: unless-stopped
    ports:
      - "8007:8000"
    networks:
      - backend

networks:
  backend:
    driver: bridge
